<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ this.page.meta_description|default(this.theme.description) }}">
<meta name="keywords" content="{{ this.theme.keywords }}">
<meta name="author" content="{{ this.theme.website_author }}">
<title>{{ this.page.title }}</title>
<link rel="canonical" href="{{ this.theme.website_url }}" />
<link rel="icon" type="image/png" href="{{ 'assets/dist/images/favicon.png'|theme }}" />
<link rel="stylesheet" href="{{ 'assets/dist/css/style.css'|theme }}">
<link rel="preload" as="font" href="{{ 'assets/dist/fonts/icofont/icofont.woff'|theme }}" type="font/woff" crossorigin="anonymous">
<link rel="preload" as="font" href="{{ 'assets/dist/fonts/icofont/icofont.woff2'|theme }}" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ 'assets/dist/css/vendor/icofont.css'|theme }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="styles.css"></noscript>
{% if this.theme.override_color == "1" %}  <link rel="stylesheet" href="{{ ['assets/src/scss/style.scss']|theme }}"> {% endif %}
   