<script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Lato:400,700', 'Merriweather:400,700'] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); </script>
<script src="{{ 'assets/dist/js/jquery-3.5.1.min.js'|theme }}"></script>
<script src="{{ 'assets/dist/js/app.js'|theme }}"></script>