<section id="services" class="services section text-center bg-gradient-primary">
    <div class="container mx-auto">
        <div class="flex flex-col">
            <div class="col w-full md:w-1/2 mx-auto">
                <h3 class="section__heading text-2xl  mx-auto mb-4">{{ this.theme.services_heading}}</h3>
                <p class="mb-16">{{ this.theme.services_description }}</p>
            </div>
            <div class="col w-full lg:w-10/12 mx-auto">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16">
                    {% if this.theme.services|length > 0 %}
                        {% for service in this.theme.services %}
                            {% partial 'service-item' service=service %}
                        {% endfor %}
                   {% else %}
                        {% for i in 0..2 %}
                            <!-- Just for empty purposes -->
                            {% partial 'service-item' service="" %}
                        {% endfor %}
                   {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>