<div class="service bg-white p-8 shadow-md border border-gray-100">
    <h4 class="service__title text-lg text-primary mb-4">{{ service.title == '' ? 'Static Website' : service.title }}</h4>
    <p class="service__description">{{ service.description == '' ? 'Lorem ipsum dolor sit amet consectetur adipisicing elit.' : service.description }} </p>
    <p class="text-4xl font-bold"><strong>{{ service.price == '' ? '$500' : service.price}}</strong></p>
    <a href="{{ service.button_url == '' ? '#contact' : service.button_url }}" class="btn btn--primary mb-8 js-trigger">{{ service.button_text == '' ? 'Contact Me' : service.button_text }}</a>
    {% if service.features|length == '0' %}
        <ul class="text-left space-y-4">
            <li class="flex"><i class="icofont-check-circled mr-2 text-tertiary"></i> <span>Brisket picanha jerky t-bone</span></li>
            <li class="flex"><i class="icofont-check-circled mr-2 text-tertiary"></i> <span>Shankle ham venison porchetta pork chop salami</span></li>
            <li class="flex"><i class="icofont-check-circled mr-2 text-tertiary"></i> <span>Brisket picanha jerky t-bone</span></li>
        </ul>
    {% else %}
        {% if service.features|split(',')|length > 0 %}
        <ul class="text-left space-y-4">
            {% for feature in service.features|split(',') %}
                <li class="flex"><i class="icofont-check-circled mr-2 text-tertiary"></i> <span>{{ feature }}</span></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
</div>
